
:root{
  --mainColor : #ef4256;
  --secondaryColor : #2b2f54;
}
body {
  color: #fff;
  font-family: "Outfit", sans-serif;
  background-color: var(--secondaryColor);
}
.mainColor {
  color: #ef4256;
}
.custom-list {
  list-style-type: circle;
}

.iti__country{
  color: #ef4256 !important;
}
.iti__country.iti__highlight {
  background-color: #808587 !important; 
  color: #000 !important;
}
